/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

svg {
  fill: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.uptitle {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  padding-bottom: 50px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
}
.logo--color {
  color: #212121;
}

.site-nav {
  align-items: center;
}

.site-nav__link {
  display: block;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  padding: 32px 0px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
  display: inline-block;
  color: #2196f3;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.contacts-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 30px;
}

.contacts-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-nav__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  color: #757575;
  font-weight: 500;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.subscription {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.subscribe {
  display: flex;
  gap: 12px;
}

.subscription-title {
  margin-bottom: 20px;
  line-height: 1.25;
}

.subscribe__input {
  height: 50px;
  width: 360px;
  padding: 15px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: #2196f3;
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  margin-top: 0px;
}

.footer-btn-icon {
  fill: currentColor;
}

.button {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  color: #212121;
  min-width: 73px;
  height: 38px;
  border: none;
  display: inline-block;
  padding: 6px 22px;
}
.button.secondary:hover, .button.secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-meta {
  padding: 30px 0px;
}

.team-meta__name {
  font-size: inherit;
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}

.team-meta__position {
  color: #757575;
}

.team-meta .social-list {
  padding: 0px 32px;
  margin-top: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.backdrop.hidden {
  pointer-events: none;
}

.backdrop.hidden .modal {
  opacity: 0;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.modal__button-close {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: #2196f3;
}

.modal__icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  text-align: center;
}

.modal-form__box {
  text-align: left;
  width: 448px;
}

.modal-form__label {
  display: flex;
  flex-direction: column;
}
.modal-form__label:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form__label:hover, .modal-form__label:focus {
  fill: #2196f3;
}

.modal-form__span {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.modal-form__prefix {
  padding-bottom: 4px;
  font-size: 12px;
  color: #757575;
}

.modal-form__comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.modal-form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #757575;
  opacity: 0.5;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
  text-align: center;
  color: #757575;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-label::before {
  content: "";
  display: block;
  margin-right: 9px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/checked.svg);
  background-color: #2196f3;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border: 2px solid #2196f3;
}

.modal-form-checkbox-link {
  color: #2196f3;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-blocks__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-blocks__item:hover, .portfolio-blocks__item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-blocks__text {
  padding: 20px 24px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.portfolio-blocks__sample {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px 24px;
  margin-bottom: 4px;
}

.portfolio-blocks__info {
  font-size: 16px;
  line-height: 1.87;
  font-weight: normal;
  color: #757575;
}

/* portfolio thumbs */
.portfolio-blocks__thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.portfolio-blocks__thumb-info {
  position: absolute;
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-blocks__item:hover .portfolio-blocks__thumb-info,
.portfolio-blocks__item:focus .portfolio-blocks__thumb-info {
  transform: translateY(0%);
}

.portfolio-blocks__overlay-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav {
  margin-left: 93px;
  gap: 50px;
}
.site-nav__item {
  display: block;
}

.hero {
  text-align: center;
  background-color: var(--secondary-bg-color);
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: auto;
}

.hero__button.button {
  margin-top: 30px;
  width: 216px;
}

.features-list {
  display: flex;
}

.features-list__item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__uptitle {
  margin-bottom: 10px;
}

.features-list__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.features-list__text {
  line-height: 1.71;
  color: #757575;
}

.scope {
  padding-top: 0;
}

.scope-list {
  display: flex;
  gap: 30px;
}

.scope-list__item {
  position: relative;
}

.scope-list__box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: inherit;
  line-height: 16px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.client-list {
  display: flex;
}

.client-list__item {
  width: calc((100% - 150px) / 6);
}
.client-list__item:not(:last-child) {
  margin-right: 30px;
}

.client-list_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.client-list_link:hover, .client-list_link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.page-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.address-box {
  display: block;
  margin-right: 70px;
}

.address-box .logo {
  margin-bottom: 20px;
}
.address-box .logo--color {
  color: #ffffff;
}

/* address */
.contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list__link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}
.contacts-list__link--color {
  color: #ffffff;
}
.contacts-list__link--color:hover, .contacts-list__link--color:focus {
  color: #ffffff;
}

.page-footer .uptitle {
  color: #ffffff;
}

.page-footer .social-list {
  margin-top: 20px;
  padding: 0;
  gap: 10px;
}

.page-footer .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer .social-list__link:hover, .page-footer .social-list__link:focus {
  background-color: #2196f3;
}

.portfolio-buttons {
  margin-bottom: 50px;
}/*# sourceMappingURL=main.css.map */