.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  &__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;

    @media screen and (min-width: 768px) {
      width: 226px;
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
      margin: 15px;
    }
  }
}

.client-list_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;

  color: $border-client;

  border: 1px solid $border-client;
  border-radius: 4px;
  transition: fill $transition-specs, border-color $transition-specs;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
