
.features-list{
    display: flex;
}

.features-list__item {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child){
        margin-right: 30px;
    }
}

.features-list__uptitle{
    margin-bottom: 10px;
}

.features-list__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: $tertiary-bg-color;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}



.features-list__text {
    line-height: 1.71;
    color: $secondary-text-color;
}