.features-list {
  display: flex;
  flex-direction: column;
}

.features-list__uptitle {
  margin-bottom: 10px;
}

.features-list__item:not(:last-child) {
  @media screen and (min-width: 480px) and (max-width: 1199) {
    padding-bottom: 30px;
  }
}

.features-list__icon-box {
  flex-basis: calc((100% - 30px) / 1);
  padding: 15px;
}

.features-list__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $tertiary-bg-color;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.features-list__text {
  line-height: 1.71;
  color: $secondary-text-color;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .features-list {
    flex-direction: column;
  }

  .features-list__icon-box {
    flex-basis: calc((100% - 30px) / 1);
    padding: 15px;
  }

  .features-list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .features-list__item {
    flex-basis: calc((100% - 60px) / 2);
    flex-wrap: wrap;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__icon-box {
    height: 120px;
    width: 354px;
  }

  .features-list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .features-list__item {
    flex-basis: calc((100% - 60px) / 2);
    flex-wrap: wrap;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__icon-box {
    height: 120px;
    width: 270px;
  }

  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
    width: 270px;
    text-align: left;
  }
}
