.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (min-width: 780px) and (max-width: 1199px) {
    margin: -15px;
  }
}

.features-list__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary-bg-color;
  height: 120px;
  margin-bottom: 30px;
}

.features-list__uptitle {
  margin-bottom: 10px;
  @media screen and (max-width: 799px) {
    text-align: center;
  }
}

.features-list__text {
  line-height: 1.71;
  color: $secondary-text-color;
}

.features-list__item {
  text-align: left;
  @media screen and (max-width: 799px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 780px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    align-items: center;
  }
}
