.page-footer {
  background: $secondary-bg-color;
}

@media screen and (min-width: 480px) {
  .page-footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 60px 0px;
  }
}

// .address-box {
//   display: block;
//   margin-right: 70px;
// }

.address-box .logo {
  margin-bottom: 20px;

  &--color {
    color: $primary-white-color;
  }
}

/* address */

.contacts-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-list__link {
  font-style: normal;
  line-height: 1.71;
  color: $footer-text-color;
  transition: color $transition-specs;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--color {
    color: $primary-white-color;
    &:hover,
    &:focus {
      color: $primary-white-color;
    }
  }
}

.page-footer .uptitle {
  color: $primary-white-color;
  margin-top: 60px;
}

.page-footer .social-list {
  margin-top: 20px;
  padding: 0;
  gap: 10px;
}

.page-footer .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $primary-white-color;
  transition: background-color $transition-specs;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 76px 60px;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .page-footer .uptitle {
    margin-top: 0;
  }

  .page-footer .subscription {
    width: 100%;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 60px 15px;
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: left;
  }

  .page-footer .address-box {
    display: block;
  }

  .page-footer .social {
    display: block;
    margin-left: 60px;
  }
  .page-footer .uptitle {
    margin-top: 0px;
  }

  .contacts-list__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .page-footer .subscription {
    display: flex;
    margin-top: 0px;
    margin-left: 93px;
  }

  .page-footer .subscribe {
    display: flex;
  }
  .page-footer .subscription-title {
    margin: 0;
    margin-bottom: 20px;
  }

  .subscribe__input {
    width: 358px;
  }

  .page-footer .subscribe__button {
    margin: 0px;
  }
}
