.hero {
  text-align: center;
  background-color: $secondary-bg-color;
  height: 400px;
  width: 100%;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/hero/hero-mobile/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $primary-white-color;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/hero-mobile/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/hero-tablet/hero-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/hero-tablet/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/hero-desktop/hero-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/hero-desktop/hero-desktop@2x.jpg);
    }
  }
}

.hero__title {
  display: block;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
}

.hero__button {
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    display: block;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    max-width: 1600px;
    align-items: center;
  }
  .hero__title {
    display: block;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }

  .hero__button.button {
    width: 216px;
  }
}
