.mm-container__button {
  position: absolute;
  top: 21px;
  right: 25.33px;
  border: none;
  transition: fill $transition-specs;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

// Mobile container

.mm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-white-color;
  transform: translateX(0%);
  transition: transform $transition-specs;
  text-align: left;
  z-index: 1;

  &.is-open {
    transform: translateX(100%);
  }
}

.mm-nav__item:not(:last-child),
.mm-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mm-nav__link {
  color: $primary-text-color;
  transition: $transition-specs;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  &:hover,
  &:focus,
  &--current {
    color: $accent-color;
  }
}

.mm-contacts {
  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.mm-contacts__link {
  color: $secondary-text-color;
  font-size: 24px;
  line-height: 1.67;

  &:hover,
  &:focus {
    color: $accent-color;
    font-size: 34px;
  }
}

.mm-contacts__link.mm-contacts__link-phone {
  color: $accent-color;
  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.header-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  &__link {
    font-weight: 500;

    line-height: 1.222;
    letter-spacing: 0.02em;
    color: $accent-color;
    font-size: 10px;

    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
  }

  &__item {
    position: relative;
    margin: 10px;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -10px;
      width: 1px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-burger,
  .mm-container {
    display: none;
  }
}
