.subscription {
  display: flex;
  flex-direction: column;
}
.subscribe {
  gap: 12px;
  text-align: center;
}

.subscription-title {
  margin: auto;
  margin-bottom: 20px;
  line-height: calc(20 / 16);
}

.subscribe__input {
  height: 50px;
  padding: 15px;
  color: $primary-white-color;
  background-color: transparent;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: $box-shadowing-1;
  transition: border-color $transition-specs;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }
}

.subscribe__button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 20px;
}

.footer-btn-icon {
  fill: currentColor;
}
